<div class="widget clearfix">
  <h4><%= t "home.followed_feed" %></h4>
  <div id="post-list-footer">
    <div class="spost clearfix">
      <div class="entry-image">
        <% link_to "#" do %>
          <img src="" alt="">
        <% end %>
      </div>
      <div class="entry-c">
        <div class="entry-title">
          <h4>
            <% link_to "Sample", "#" %></h4>
        </div>
        <ul class="entry-meta">
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="widget clearfix">
  <h4><%= t "home.potd" %></h4>
</div>

<div class="widget clearfix">
  <h4><%= t "home.best_user" %></h4>
</div>

