*.rbc
*.sassc
.byebug_history
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/vendor/*
/log/*
/tmp/*
/test/*
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
/config/database.yml
#config/secrets.yml
config/facebook.yml
config/master.key
config/credentials.yml.enc
/public/uploads
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
.DS_Store
/.idea
