<% provide :title, t("application.leaderboard") %>
<% provide :name, t("application.leaderboard") %>

<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="row clearfix">
        <%= render @users %>
        <%= paginate @users %>
      </div>
    </div>
  </div>
</section>
