@import 'color';

#page-title {
  margin-top: 100px;
}

textarea {
  resize: none;
}

p {
  word-wrap: break-word;
}

.button-green {
  color: white;
}

.modal-sm {
  max-width: 500px;
}

.divcenter {
  max-width: 550px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  .form-control {
    color: red;
  }
}

.profile-pic {
  width: 130px !important;
  height: 130px !important;
  margin: auto;
}

.heading-block {
  min-height: 130px;
}

.bio {
  width: 666px;
  float: right;
}

.user-name {
  margin-top: 30px;
}

.user-index {
  border-left: 1px solid $white-grey;
  border-right: 1px solid $white-grey;
}

.user-image {
  float: left;
  margin-right: 10px;
}

.index-info {
  float: left;
  width: 100px;
}

.index-rela {
  float: left;
}

.index {
  width: 80%;
  margin: auto;
}

.team-title {
  word-break: break-word;
  padding-top: 20px !important;
}

.edit_relationship, .new_relationship {
  margin-bottom: 0 !important;
}

.tagcloud a {
  font-size: 15px;
}

.post-navigation {
  margin-bottom: 50px;
}

.avatar-default {
  height: 60px;
  width: 60px;
}

#post {
  max-width: 80%;
}

.post {
  width: 48%;
}

.delete {
  right: 56px;
}

.edit {
  right: 28px;
}

.post-info {
  li, i {
    font-size: 20px !important;
  }
}

.point {
  margin-top: 4px !important;
}

.reply-form, .reply-to {
  display: none;
  margin: 30px 0 0 30px;
}

.left {
  float: left;
}

.bio form {
  margin-bottom: 0 !important;
}

#content {
  min-height: 700px;
}

.hide {
  display: none;
}

.up {
  margin-top: 10px;
}

.entry-image video {
  width: inherit;
  height: auto;
}

#primary-menu form {
  margin-top: 30px;
  margin-bottom: 0 !important;
}

.button-like {
  background: none !important;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  cursor: pointer;
}

.comment-wrap {
  border: 1px solid #c3b8b8;
}

.comment-avatar {
  border: 1px solid #c3b8b8;
}

.comment-label {
  padding-left: 15px;
}

.likeform {
  float: left !important;
  padding-right: 15px !important;
  margin-bottom: 0;
}

.green {
  color: green;
}

.cursor {
  cursor: pointer;
}

#logo1 {
  float: left;
  font-size: 15px;
  padding-top: 16px;
  margin-left: -170px;
  color: green;
  width: 65px;
}

#page_title {
  float: left;
  font-size: 30px;
  color: green;
  font-weight: bold;
  padding-top: 30px;
  margin-left: -90px;
}

.social-share-button {
  margin-top: -17px;
  margin-left: 20px;
}
