<!DOCTYPE html>
<html>
  <head>
    <title>RailsSocialSharingNetwork01</title>
    <%= render "layouts/rails_default" %>
  </head>

  <body>
    <body class="stretched">
      <%= render "layouts/header" %>
      <%= yield %>
    </body>
  </body>
</html>
