<!DOCTYPE html>
<html>
  <head>
    <title>MFun</title>
    <%= render "layouts/rails_default" %>
  </head>

<body>
<%= render "layouts/header" %>
<div class="stretched">
  <%= yield %>
  <%= render "layouts/footer" %>
</div>
</body>
</html>
